/*HEADER*/

.home-header-boton {
    text-align: center;
    padding-bottom: 20px;
}

.buscador{
    width: 50%;
}

.home-header-nav ul {
    list-style: none;
    padding-left: 0rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

.home-header {
    background-color: #EAC926;
    padding: 1rem;
}

.home-header-buscador {
    position: relative;
    display: inline-block;
}

.home-header-buscador input[type="text"] {
    background-color: white;
    padding: 1rem 0.2rem 1rem 0.2rem;
    border: none;
    border-radius: 0.5rem;
}

.home-header-buscador input[type="text"]:focus {
    outline: none;
    border-color: transparent;
}

.home-header-buscador .submit-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    background-color: transparent;
    border: none;
}


.boton-nav {
    background-color: #1259c3;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.2rem;
}

.home-header-logo-buscador {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.home-header-logo-buscador p {
    margin-top: 1rem;
}


.home-header-logo-buscador img {
    width: 50%;
}

/*CARRUCEL*/

.carousel-container {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: flex;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-item {
    flex: 1 0 100%;
    height: 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;

  }
  
  .carousel-navigation {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10px;

  }
  
  .carousel-navigation button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: #bbb;
    margin: 0 5px;
  }
  
  .carousel-navigation button.active {
    background-color: #333;
  }











/*MAIN*/

.home-main {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.home-main div i {
    border: solid 3px green;
    padding: 15px 12px 15px 12px;
    border-radius: 25px;
}

.home-main h3 {
    font-size: 24px;
    margin-top: 2rem;
}

.home-main h4 {
    font-size: 16px;
    margin: 0.5em 0em;
}

.home-main h5 {
    font-size: 16px;
    margin: 0.5em 0em;
    color: green;
}

.home-main p {
    font-size: 18px;
    margin: 0.5em 0em;
}


.tarjeta {
    margin-bottom: 10px;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    margin: 1rem;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    position: relative;
    background-color: white;
}

.tarjeta i {
    display: block;
    font-size: 16px;
    background-color: #FFF;
    position: absolute;
    right: 26px;
    bottom: 91px;
}

.tarjeta img {
    width: 260px;
}

.tarjeta p {
    border-top: solid 1px rgb(196, 196, 196);
    padding-top: 1rem;
    
}

.contenedor-tarjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


/*FOOTER*/
.home-footer {
    text-align: center;
    margin-top: 4rem;
}

.home-footer i {
    font-size: 2em;
    margin-bottom: 10px;
}

.home-footer h4 {
    color: #666;
}


.home-footer p {
    color: #666;
    font-size: 12px;
}

.contenedor-p-nav {
    margin-top: 2rem;
}



@media (width>=500px) and (width<=746px) {
    .boton-nav {
        display: none;
    }

    .home-header-boton {
        margin: 0rem;
    }

    .home-header-nav ul {
        list-style: none;
        padding-left: 0rem;
        display: flex;
        flex-direction: row;
    }

    .home-header-nav a {
        display: flex;
        justify-content: space-between
    }

    .home-header-nav a {
        font-size: 0.7rem;
    }

    .contenedor-p-nav {
        margin-top: 4rem;
    }

    .home-header-nav {
        display: flex;
        justify-content: space-between;
    }

    .home-header-nav ul li {
        margin-left: 0.5rem;
    }

    .home-header-logo-buscador img {
        width: 200px;
    }

    .home-header-nav{
        display: flex;
    }

}




@media (width>=746px) {
    .boton-nav {
        display: none;
    }

    .home-header-boton {
        margin: 0rem;
    }

    .home-header-nav ul {
        list-style: none;
        padding-left: 0rem;
        display: flex;
        flex-direction: row;
    }

    .home-header-nav {
        display: flex;
        justify-content: space-between
    }

    .contenedor-p-nav {
        margin-top: 4rem;
    }



    .home-header-nav ul li {
        margin-left: 1rem;
    }

    .home-header-logo-buscador img {
        width: 200px;
    }



}